<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">
</head>
<body>
    <!--  NAVBAR -->
    <nav class="navbar" id="topNav">
        <div class="navbar__container">
            <a href="home.html" id="navbar__logo"><img src="img/logo.png"></a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="home.html" class="navbar__links" id="home-page">Acceuil</a>
                </li>
                <li class="navbar__item">
                    <a href="menu.html" class="navbar__links" id="about-page">Menu de la semaine</a>
                </li>
                <li class="navbar__item">
                    <a href="menu_recette.html" class="navbar__links" id="services-page">Prêt à manger</a>
                </li> 
                <li class="navbar__item">
                    <a href="order.html" class="navbar__links" id="services-page">Commander</a>
                </li> 
                <li class="navbar__item">
                    <a href="connect.html" class="button" id="signup">Se connecter</a>
                </li>           
            </ul>
        </div>
    </nav>
    
   <!--MENU SECTION-->
    <div class="menu" id="Menu">
        <h1></h1>
        <h1></h1>
        <br>
        <h1>Menu<span>de la semaine</span></h1>
        <h3>
            Des recettes faciles à cuisiner avec modernité faites d’ingrédients 
            toujours frais <br>et variés qui viennent des 4 coins du Maroc.
        </h3>
        <div class="menu_box">
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/menu1.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Sandwich</h2>
                <p>
                    avec oeufs, persil, céleri, roquette et cornichon avec 
                    salade de carotte crémeuse
                </p>
                <h3>25 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn"><i class="fa-solid fa-kitchen-set ana"></i></a>
            </div>

            </div>  
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/menu5.png">            
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Couscous</h2>
                <p>
                    avec aubergine tomaté, pois chiches
                     abricots séchés, yogourt et persil
                </p>
                <h3>30 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <a href="#" class="menu_btn"><i class="fa-solid fa-kitchen-set ana"></i></a>
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/menu6.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Soupe</h2>
                <p>
                    avec pancetta, haricots rouges et fromage grana padano 
                </p>
                <h3>35 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>                
                <a href="#" class="menu_btn"><i class="fa-solid fa-kitchen-set ana"></i></a>
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/menu2.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Salade</h2>
                <p>
                    avec saumon, céleri, aneth et citron servi avec
                    un couscous aux canneberges séchées et chou.
                </p>
                <h3>30 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <a href="#" class="menu_btn"><i class="fa-solid fa-kitchen-set ana"></i></a>
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/menu3.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Tofu à la coréenne</h2>
                <p>
                    avec riz tomaté, bok choy, légumes croquants et coriandre
                </p>
                <h3>30 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn"><i class="fa-solid fa-kitchen-set ana"></i></a>
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/menu4.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Tacos de crevettes</h2>
                <p>
                    avec guacamole, chapelure croustillante et chou rouge mariné
                </p>
                <h3>20 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <a href="#" class="menu_btn"><i class="fa-solid fa-kitchen-set ana"></i></a>
            </div>
            </div>  
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/menu7.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Boréal au saumon</h2>
                <p>
                    avec millet, pommes de terre rattes et salade crémeuse 
                    de betterave, pois sucrés et aneth
                </p>
                <h3>25 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <a href="#" class="menu_btn"><i class="fa-solid fa-kitchen-set ana"></i></a>
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/menu8.webp">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Biryani</h2>
                <p>
                    Riz, sel, ghee, viande, cardamome, clou de girofle, 
                    coriandre, feuilles de laurier, 
                    feuilles de menthe, gingembre, safran, oignon, ail
                </p>
                <h3>30 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <a href="#" class="menu_btn"><i class="fa-solid fa-kitchen-set ana"></i></a>
            </div>
            </div> 
        </div>
        <div class="main_btn">
            <a href="ordering.html">Commander maintenant</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>  

 <!--  FOOTER  -->
    <footer>
        <div class="footer_main">
            <div class="footer_tag">
                <h2>Localisation</h2>
                <p>Casablanca</p>
                <p>Rabat</p>
                <p>Tanger</p>
                <p>Fes</p>
                <p>Meknas</p>
            </div>
            <div class="footer_tag">
                <h2>Liens Rapides</h2>
                <p><a href="home.html">Acceuil</a></p>
                <p><a href="menu.html">Menu</a></p>
                <p><a href="menu_recette.html">Prêt à manger</a></p>
                <p><a href="order.html">Commander</a></p>
            </div>
            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+212 66 3456 789</p>
                <p>+212 56 5568 456</p>
                <p>à.table@gmail.com</p>
                <p>à_table@gmail.com</p>
            </div>
            <div class="footer_tag">
                <h2>Nos Services</h2>
                <p>Livraison Rapides</p>
                <p>Payments  Facile</p>
                <p>24 x 7 Support</p>
            </div>
            <div class="footer_tag">
                <h2>Suivre</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>

        
</body>
</html>