<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prêt-à-manger</title>
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">
</head>
<body>
    <!--  NAVBAR -->
    <nav class="navbar" id="topNav">
        <div class="navbar__container">
            <a href="#hero" id="navbar__logo"><img src="img/logo.png"></a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="home.html" class="navbar__links" id="home-page">Acceuil</a>
                </li>
                <li class="navbar__item">
                    <a href="menu.html" class="navbar__links" id="about-page">Menu de la semaine</a>
                </li>
                <li class="navbar__item">
                    <a href="menu_recette.html" class="navbar__links" id="services-page">Prêt à manger</a>
                </li> 
                <li class="navbar__item">
                    <a href="order.html" class="navbar__links" id="services-page">Commander</a>
                </li> 
                <li class="navbar__item">
                    <a href="connect.html" class="button" id="signup">Se connecter</a>
                </li>           
            </ul>
        </div>
    </nav>
    <!--Hero section-->
    <div id="pam_hero" >
        <div class=image2>
            <img src="img/pam2.webp">
        </div>
        <h1 class="title1">Des prêts-à-manger qui</h1> 
        <br>
        <h1>vous laissent le temps</h1> 
        <br>
        <h1> tout le reste</h1>
        <div class="btn_recettes">
            <br>
            <span>Voir menu </span><br>
            <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class=image3>
            <img src="img/pam3.webp">
        </div>
        <div class=image1>
            <img src="img/pam1.webp">
        </div>
    </div>
   <!--SLIDE  SHOW-->
    <section class="slide2">
        <div id="infinite2" class="highway-slider2">
            <div class="container2 highway-barrier2">
                <ul class="highway-lane2">
                    <li class="highway-car"><img src="img/pamslide.svg"><span>Toujours frais</span></li>
                    <li class="highway-car"><img src="img/pamslide.svg"><span >À rechauffer en 2 minutes</span></li>
                    <li class="highway-car"><img src="img/pamslide.svg"><span>Livré gratuitement</span></li>
                    <li class="highway-car"><img src="img/pamslide.svg"><span>Jamais congelé</span></li>
                    <li class="highway-car"><img src="img/pamslide.svg"><span>Toujours frais</span></li>
                    <li class="highway-car"><img src="img/pamslide.svg"><span >À rechauffer en 2 minutes</span></li>
                    <li class="highway-car"><img src="img/pamslide.svg"><span>Livré gratuitement</span></li>
                    <li class="highway-car"><img src="img/pamslide.svg"><span>Jamais congelé</span></li>
                </ul>
            </div>
        </div>
    </section>
   <!--ABOUT SECTION-->
   <div class="about_pam">
       <div class="image4">
           <img src="img/pam_about.png">
       </div>
       <div class="information">
           <img src="img/pamchef.svg">
           <h2>Cook it, c’est l’assistant personnel, le chef, 
               le nutritionniste 
               et l’épicier qui s’occupe de vos repas pendant 
               que vous faites autre chose!
            </h2>
            <p>Attaquez vos semaines (aussi chargées qu’elles soient) avec de délicieux repas faits à 
                la main à réchauffer en 2 minutes – le tout livré gratuitement à votre porte!
            </p>
       </div>
   </div>
   <!--MENU SECTION-->
    <div class="menu" id="Menu">
        <br>
        <br>
        <br>
        <h1><span>Au menu</span></h1>
        <h3>
            Quelques classiques, et des recettes plus exotiques qui suivent les saisons.
        </h3>
        <div class="menu_box">
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/pammenu1.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Assiette burrito au bœuf</h2>
                <p>
                    servi avec riz frit au fromage, au maïs 
                    et aux haricots rouges, tomates cerises, coriandre et guacamole
                </p>
                <h3>2 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </div>

            </div>  
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/pammenu2.png">            
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Bavette de bœuf</h2>
                <p>
                    avec sauce chimichurri, riz et poêlée de champignons
                </p>
                <h3>2 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/pammenu3.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Bavette, sauce moutarde et ail</h2>
                <p>
                    avec pommes de terre, tomates cerise rôties et choux de Bruxelles 
                </p>
                <h3>2 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>                
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/pammenu4.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Bœuf bourguignon</h2>
                <p>
                    avec purée de pommes de terre, oignons perlés, champignons et lardons
                </p>
                <h3>2 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/pammenu5.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Bœuf avec courge rôtie</h2>
                <p>
                    avec purée de pommes de terre et haricots verts.
                </p>
                <h3>2 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/pammenu6.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Bœuf au soya</h2>
                <p>
                    avec nouilles udon aux oignons verts et bok choy.
                </p>
                <h3>2 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </div>
            </div>  
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/pammenu7.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>

            <div class="menu_info">
                <h2>Bol burger Végétarien</h2>
                <p>
                    avec laitue, viande haché végétarienne,tomate cerise, cheddar doux,cornichon
                    haricots blancs, mayonnaise et graine de sésame.
                </p>
                <h3>2 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>

            </div> 
            <div class="menu_card">
            <div class="menu_image">
                <img src="img/pammenu8.png">
            </div>
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="menu_info">
                <h2>Bol aux pois chiches rôtis</h2>
                <p>
                    avec quinoa, légumes et vinaigrette et aux pois chiches.
                </p>
                <h3>2 min.</h3>
                <div class="menu_icon">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            </div> 
        </div>
        <div class="main_btn">
            <a href="ordering_recepies.html">Passer des commandes</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>  

 <!--  FOOTER  -->
    <footer>
        <div class="footer_main">
            <div class="footer_tag">
                <h2>Localisation</h2>
                <p>Casablanca</p>
                <p>Rabat</p>
                <p>Tanger</p>
                <p>Fes</p>
                <p>Meknas</p>
            </div>
            <div class="footer_tag">
                <h2>Liens Rapides</h2>
                <p><a href="home.html">Acceuil</a></p>
                <p><a href="menu.html">Menu</a></p>
                <p><a href="menu_recette.html">Prêt à manger</a></p>
                <p><a href="order.html">Commander</a></p>
            </div>
            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+212 66 3456 789</p>
                <p>+212 56 5568 456</p>
                <p>à.table@gmail.com</p>
                <p>à_table@gmail.com</p>
            </div>
            <div class="footer_tag">
                <h2>Nos Services</h2>
                <p>Livraison Rapides</p>
                <p>Payments  Facile</p>
                <p>24 x 7 Support</p>
            </div>
            <div class="footer_tag">
                <h2>Suivre</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>

        
</body>
</html>